h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

ul{
    border-top: 5px solid lightblue;
    border-bottom: 5px solid lightblue;
    padding: 0;
    background: lightgray;
    display: inline-flex;
    width: 100%;
}

li{
    text-decoration: none;
    padding: 50px;
    list-style: none;
}